{{ define "main"}}

<section id="inner-page-hero-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12">
        <h4>Policies</h4>
        <h1>Accessibility Statement</h1>
      </div>
    </div>
  </div>
</section>


<section id="policies-main-section">
  <div class="site-container-1340">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
           <div align="left" class="standard-body-links">
                <p>Do you need assistance accessing something on our website? <a class="btn-text" href="/support/contact-us">Contact us</a> and we will reply as soon as possible. We are working towards 24-hour phone assistance but it is not available yet.</p>
    
                <p class="pt-3"><span class="heading-h4">Commitment to Accessibility</span></p>
    
                <p>{{ .Site.Params.CompanyName}} is committed to accessibility and ensuring that all users of this site, including those with disabilities and their companies, have an equal opportunity to participate in and benefit from all information and online offerings of {{ .Site.Params.CompanyName}}.</p>
    
                <p>Should you have any difficulty accessing this website in any manner, please do not hesitate to <a class="btn-text" href="/support/contact-us">contact us</a>.</p>
    
                <p class="pt-3"><span class="heading-h4">Accessibility Standards</span></p>
    
                <p>We have created our website to meet the Web Content Accessibility Guidelines (WCAG) 2.0 AA standards. We are currently researching and working to improve our website to be even sharper, clearer, and incorporate all of the best practices from HTML5, CSS, and JavaScript. We will never stop trying to improve access to our digital offerings.</p>
    
                <p class="pt-3"><span class="heading-h4">Actions Taken</span></p>
    
                <p>Some of the measures taken to make the {{ .Site.Params.CompanyName}} website accessible include:</p>
    
                <ul>
                 <li>adding alt text to all images</li>
                 <li>ensuring a minimum 4.5:1 color ratio for all text</li>
                 <li>using descriptive text links and headers</li>
                 <li>maintaining a consistent and predictable layout and organization</li>
                 <li>eliminating all automatic content (e.g. pop-ups, auto-playing media)</li>
                 <li>including a skip to navigation link</li>
                 <li>using descriptive anchor text for links</li>
                 <li>incorporating a focus indicator</li>
                </ul>
    
                <p>As well as several other measures.</p>
    
                <p>Beyond our existing remediation measures, we continually review our website to ensure we adhere to best practices in web accessibility.</p>
    
                <p class="pt-3"><span class="heading-h4">Audit</span></p>
    
                <p>We have made repeated efforts to review and re-review the {{ .Site.Params.CompanyName}} website to ensure it complies with WCAG 2.0 AA and the general best practices of website accessibility. Further, we voraciously research web accessibility best practices and methods to improve our knowledge and stay up to date on the latest news and information.</p>
    
                <p class="pt-3"><span class="heading-h4">Legal Requirements</span></p>
    
                <p>Through our genuine and good faith commitment and devotion to accessibility, we believe we not only meet but exceed the digital accessibility requirements imposed by Title I, II, &amp; III of the Americans with Disabilities Act (ADA) and Section 504 &amp; 508 of the Rehabilitation Act.</p>
    
                <p class="pt-3"><span class="heading-h4">Feedback</span></p>
    
                <p>Do you have feedback on the {{ .Site.Params.CompanyName}} website’s accessibility? Where can we improve? What are our strong points? Your feedback is welcome and greatly appreciated as we strive to improve.</p>
    
                <p class="pt-3"><span class="heading-h4">Resources</span></p>
    
                <p>You can learn more about the right to equal access for all Americans at <a class="btn-text" href="https://ada.gov/" tabindex="9" target="_blank">ADA.gov</a>.</p>
    
                <p><a class="btn-text" href="https://section508.gov/" target="_blank">Section508.gov</a> provides numerous resources for making accessible websites and maintaining them.</p>
    
                <p><a class="btn-text" href="https://www.w3.org/TR/WCAG20/" target="_blank">WCAG&ZeroWidthSpace; 2.0 AA</a> provides technical guidelines and examples for what web accessibility should be.</p>
                </div>
      </div>
    </div>
  </div>
</section>

{{ end }}